html, body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    /* background-image: "/stars.jpg"; */
}
h1{
    /* color:aquamarine; */
    margin: 30px;
}

p{
    color:cadetblue ;
    margin: 30px;
    font-size: large;
}

.canvas-container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    position: relative;
    z-index: 2;
    margin: 80px;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}

.section1 {
    width: 50vw;
    height: 100vh;
    /* border: 5px solid red; */
    /* background-color: black; */
}
.section2 {
    margin-left: 50%;
    width: 50vw;
    height: 100vh;
    border: 2px solid red;
    /* background-color: black; */
}
.section3 {
    width: 50vw;
    height: 100vh;
    border: 2px solid red;
    /* background-color: black; */
}

.section4 {
    width: 50vw;
    height: 100vh;
    /* border: 2px solid red; */
    /* background-color: black; */
}